/* App.css */

/* Global styles */


/* App container */
.app-container {
  display: flex;
  
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
 
  width: 280px;
  background-color: #ff4747;
  color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  

}

.sidebar-heading {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.sidebar-button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 20px;
  text-align: left;
  background-color: transparent;
  color: #fff;
  border: none;
  border-left: 3px solid transparent;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.sidebar-button:hover {
  background-color: #1e2130;
  border-color: #68d391;
}

/* Main content */
.main-content {
  flex: 1;
  padding: 30px;
}

/* Mobile menu */
.mobile-menu {
  display: block;
  background-color: #292d3e;
  padding: 10px;
  color: #fff;
  text-align: right;
}

/* Mobile sidebar */
.mobile-sidebar {
  position: fixed;
  left: 0;
  top: 10vh;
  bottom: 0;
  width: 280px;
  background-color: #ff7575;
  padding: 20px;
  color: #fff;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.mobile-sidebar.open {
  transform: translateX(0);
}

/* Achievements and Event Cards */
.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.card-heading {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  color: #666;
}

/* Buttons */
.button {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #48bb78;
}




/* LandingPage.css */

/* Custom styles for the landing page */
.landing-page {
  position: relative;
}

.separator-red {
  position: absolute;
  top: 80vh; /* Adjust the value as needed */
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #ff6b6b; /* Red */
}

.separator-yellow {
  position: absolute;
  top: 80px; /* Adjust the value as needed */
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #ffd700; /* Yellow */
}
